//I was not able to gain access to the correct font, substituted with monospace. This is obviously not ideal, but container widths should still be to specification.

$screen-sm-min: 320px;
$screen-sm-max: 759px;
$screen-md-min: 760px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

@media (max-width: $screen-sm-max) {
    
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
    
}
@media (min-width: $screen-lg-min) {    
    .socialMediaBanner{
        position: absolute;
        z-index: 5;
        top: 0vw;
        left :0vw;
        width: auto;
        margin: 1.57vw 1vw;        
        padding: 0vw;        
    }
    
    .socialMediaIcon{
        display: inline-block;
        max-width: 2.86vw;
        max-height: 2.86vw;
        margin: 0vw 0.393vw;        
        padding: 0vw;        
    }
}

.contentBlock{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 45.5vw;
    margin: 0vw;
    padding: 0vw 13.4vw;        
}

#contentBlockA{
    background-image: url(imageAssets/header_bg.jpg); 
    background-repeat: no-repeat;
    
    img{
        width: 14vw;
        height: 8.43vw;
        margin: 0 28.8vw;
        margin-top: 11.5vw;
        margin-bottom: 5.14vw;
        padding: 0vw;        
    }
    p{
        width: 43.9vw;
        height: 5.71vw;
        margin: 0 14.7vw;
        text-align: center;
        line-height: 100%;        
        font-family: monospace;
        font-weight: 500;
        font-size: 2.6vw;
        color: rgb(255,255,255);       
    }
    div{
        width: 43.9vw;
        height: 0.0714vw;
        margin: 0 14.7vw;
        margin-top: 2.21vw;      
        background-color: rgb(255,255,255);
    }
}

#contentBlockB{
    background-color: rgb(255,255,255);
    padding-top: 5.93vw;
    padding-bottom: 3.57vw;    
    
    #subtitleB{
        margin: 0vw;
        padding: 0vw;
        padding-top: 0.214vw;    
        
        div{            
            width: 19.9vw;
            height: 0.571vw;
            background-color: rgb(40,97,145);            
        }
        p{
            width: 20.8vw;
            font-family: monospace;
            font-weight: 500;
            font-size: 2.15vw;
            color: rgb(40,97,145);
        }
    }
    
    #infoText{
        
    }
}