$screen-sm-min: 320px;
$screen-sm-max: 759px;
$screen-md-min: 760px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

@media (max-width: $screen-sm-max) {
    
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
    
}
@media (min-width: $screen-lg-min) {    
    .socialMediaBanner{
        position: absolute;
        z-index: 5;
        top: 0vw;
        left :0vw;
        width: auto;
        margin: 1.57vw 1vw;        
        padding: 0vw;
        border: 0vw;
    }
    
    .socialMediaIcon{
        display: inline-block;
        max-width: 2.86vw;
        max-height: 2.86vw;
        margin: 0vw 0.393vw;        
        padding: 0vw;
        border: 0vw
    }
}

.contentBlock{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 44.2vw;
    margin: 0vw;
    padding: 0vw 13.4vw;
    border: 0vw;    
}

#contentBlockA{
    background-image: url(imageAssets/header_bg.jpg); 
    background-repeat: no-repeat;
}